body{
    margin: 0;
    padding: 0;
    
}

:root{
    --primary-red: rgb(218, 40, 40);
    --secondary-red:  rgb(243, 74, 74);
    --primary-gray: rgb(99, 99, 99);
    --primary-white:white;
}

.grid-container{
    height: 200vh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 6% 25% 4% 35% 15%;
    grid-template-areas: 
    "a a a"
    "g g g"
    "e e e"
    "b b b"
    "c c c"
    "d d d";
}

.a{
    background:gray;
    grid-area: a;
    padding: 1px;
    position: fixed;
    top: 0;
    width: 100%;
}

.b{
    background: url("img/pal.JPG") center no-repeat; 
    background-size:cover;
    grid-area: b;
    padding: 1px;
    border: solid 2px red;

}

.g{
    background: lightgray;
    grid-area: g;
    padding: 1px;
    background: url(img/paltexjpg.JPG) center no-repeat;
    background-size:cover;
    border: solid 2px red;
}

.c{
    background: url(img/pellet.jpg) center no-repeat;
    background-size:cover;
    grid-area: c;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px red;
}
.d{
    background: black;
    grid-area: d;
    padding: 1px;
    color: white;
    display: flex;
    justify-content: center;
    border: solid 2px red;
    

}

.e{
    background: red;
    grid-area: e;
    padding: 1px;
    color: white;
    border: solid 2px red;
    
   
}

.red-font{
    color: var(--primary-red);
}
.white-font{
    color: var(--primary-white);
}


.map{

    border: solid 2px red;
    width: 350px;
    height: 200px;
    display: flex;
    margin: 50px;
    margin-right: 100px;

    
    
}

.logo{
   display: flex;
   margin-left: 10px;
   margin-top: -235px;
}

.cena{
    display: flex;
    justify-content: center;
}

.box1{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.7);
    margin: 50px;
    border: solid 1px black;
    
}

.box2{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.7);
    margin: 50px;
    border: solid 1px black;
}


.box3{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.7);
    margin: 50px;
    border: solid 1px black;
}

.boxy{
    display: flex;
    justify-content: center;
    align-items: center;

}


.info{
    display: flex;
    justify-content: center;
}

.info1{
    display: flex;
    justify-content: center;
}

.pellet{
    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border:solid 2px black;
    

}

.pelletlogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontakt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-left: 200px;
    
    
}

.cennik{
    display: flex;
    margin-left: 1500px;
    margin-top: -380px;
    

}

.cennik1{
    display: flex;
    margin: 30px;
}

.cennik2{
    display: flex;
    margin: 30px;
}






